<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WYSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F6BC9831CA2821D00758D32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F6BC9971CA2821D00758D32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F6BC9A21CA2821D00758D32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
